Document how to use LegacyCookieProcessor

It appears that by default Tomcat 8.5.4+ does not conform to the Servlet 3.1
specification in regards to the Cookie RFC that should be used. I [brought this](http://www.mail-archive.com/users@tomcat.apache.org/msg123559.html) up on the Tomcat mailing list and the response was that you must register [LegacyCookieProcessor](http://www.mail-archive.com/users@tomcat.apache.org/msg123560.html) to be Servlet 3.1 compliant.

It would be nice if Spring Boot would automatically register the `LegacyCookieProcessor` for users so that it remains Servlet compliant.

# Update (Example Configuration)

You can find an example configuration at https://github.com/spring-projects/spring-session/issues/605#issuecomment-243002636 The example assumes Tomcat 8.5, so we would likely need some conditional annotations, but hopefully this helps a little



I was about to tag this as a bug and mark it for 1.4.x but I'm slightly worried the we might not want to go against the Tomcat recommendations.

@rwinch Is this issue breaking something in Spring Security or did you just discover it by accident?
Do you have a test that we could add to check how the different embedded containers behave? 

Wow, I wasn't aware that Servlet 3.1 had still that default.

This Netscape document was a draft, and has been replaced by an official spec RFC2109 - which has been deprecated since, **twice**. It even looks that the Netscape draft has [disappeared from the web for 8+ years](https://web.archive.org/web/20080520061150/http://wp.netscape.com/newsref/std/cookie_spec.html?).

In the meantime, here are a few elements for our team discussion on this:

* Servlet 4 will support both the RFC 2109 and the RFC 6265 specifications. By default, cookies will be created using RFC 6265.
* on the other hand, JDK6, JDK7 and JDK8 support Netscape, RFC 2109, RFC 2965 (which is the default)
* most Java HTTP clients out there will try to comply with what the server provides, but the Netscape draft is clearly not favored
* looking at their codebase, it seems Undertow and Jetty still use version 0 as their default (I haven't verified that with tests)
* the HTTP/2 spec refers to RFC 6265 only

@philwebb You might take a look back at the discussion on the Tomcat thread as quite a bit more back and forth has occurred since I first logged the issue. I'm not sure if it will help one way or the other, but it is probably worth looking at.

> Is this issue breaking something in Spring Security or did you just discover it by accident?

This change broke users of Spring Session who leverage multiple session support. See https://github.com/spring-projects/spring-session/issues/605

> Do you have a test that we could add to check how the different embedded containers behave?

See https://github.com/JananiSubbiah/spring-session-cookie-example which was provided by the reporter of https://github.com/spring-projects/spring-session/issues/605

We don't think that changing the default is a good idea. We'll add a section in the "How To" about how to switch if you need to.

Reopening. Exposing a `TomcatContextCustomizer` as a bean isn't sufficient for the embedded container to pick it up.

Thanks!