Cookies injected with @Cookie contain quotes when the Cookie header contains $Version=1

First a little excuse for posting that issue here.It's probably Tomcat or Spring-MVC related. But for me it's not clear, and I want to have this bug reported somewhere. If you point me to the effective cause I would happily report it there.

Here's the issue: I have a controller which accepts a cookie with the [`@CookieValue`](http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/web/bind/annotation/CookieValue.html) annotation. I recently noticed in my application's log that very few requests lead to a cookie value of e.g. `"foo"` while it should actually be `foo` (without quotes). The actual Cookie header of those requests look similar to this:

 > Cookie: $Version="1"; userId="foo";$Path="/";$Domain="www.example.org"

Alone the presence of $Version in the cookie header is triggering a different parsing result. Sending a request without $Version would lead to an expected `foo`.

Skimming through a few Cookie RFCs ([RFC 2109](https://tools.ietf.org/html/rfc2109), [RFC 2965](https://tools.ietf.org/html/rfc2965) and [RFC 6265](https://tools.ietf.org/html/rfc6265)) this header looks perfectly valid and it should actually resolve without quotes to `foo`. However I might haved missed one of those obsolete Cookie RFCs which would see this differently. Otherwise this is clearly wrong behaviour and the parsed cookie value should not contain the quotes. The offensive user agent is "Dalvik/2.1.0 (Linux; U; Android 5.1; A2 Build/LMY47I)".

The tests of this [SSCCE](https://github.com/spring-projects/spring-boot-issues/pull/63) demonstrate the issue.

Ok, I went a bit through the code and Spring doesn't seem to do anything with Cookies, so it looks like it's a Tomcat topic. I also found their [Cookie Wiki](https://wiki.apache.org/tomcat/Cookies) which documents the relevance of the $Version token. Man, this wiki gives the idea that HTTP's Cookie obsoletion hattrick is a great fuck up for implementors. I'm going to knock on Tomcat's door.

I'm sorry to reopen this ticket. It [seems that the issue doesn't happen](https://bz.apache.org/bugzilla/show_bug.cgi?id=60788#c1) with Tomcat only. This strongly suggests that something in Spring creates this behaviour.

Sorry [we agreed now](https://bz.apache.org/bugzilla/show_bug.cgi?id=60788#c9) it's definetly Tomcat related.

This looks like a Tomcat issue to me I'm afraid. We don't do any cookie parsing ourselves.

Here's a test that doesn't involve Spring Boot:

```java

	@Test
	public void tomcatNoQuotes() throws IOException {
		String response = tomcat("foo=bar");
		assertEquals("bar", response);
	}

	@Test
	public void tomcatWithQuotes() throws IOException {
		String response = tomcat("foo=\"bar\"");
		assertEquals("bar", response);
	}

	@Test
	public void tomcatWithQuotesAndVersion() throws IOException {
		String response = tomcat("$Version=1;foo=\"bar\"");
		assertEquals("bar", response);
	}


	public String tomcat(String value) throws IOException {
		byte[] bytes = value.getBytes();
		ServerCookies cookies= new ServerCookies(1);
		Cookie.parseCookie(bytes,0,bytes.length,cookies);
		return cookies.getCookie(0).getValue().toString();
	}
```

The problem appears to be in `org.apache.tomcat.util.http.parser.Cookie.readCookieValueRfc2109`. Interestingly enough the `tomcatWithQuotes` test doesn't use that method, it instead calls `readCookieValueRfc6265`.





> Sorry we agreed now it's definetly Tomcat related.

Thanks, I was a bit late with my comment.