Add v1 content type to Endpoint MVC results

We're going to break things in 2.0 so returning the content type in 1.x would be a good thing to do.

Strictly speaking the new media type should be [registered](https://www.iana.org/form/media-types). One of the requirements for registered is a published specification for the media type. I doubt we have time to do this for 1.5.

Interestingly, not all vendors register their media types. For example, the [media types used by GitHub's API](https://developer.github.com/v3/media/) are [not listed](http://www.iana.org/assignments/media-types/media-types.xhtml).

Registered or not, we still need to decide on the name of the media type. Section 3.2 of [RFC 6838](https://tools.ietf.org/html/rfc6838) states:

>    Vendor-tree registrations will be distinguished by the leading facet "vnd.".  That may be followed, at the discretion of the registrant, by either a media subtype name from a well-known producer (e.g., "vnd.mudpie") or by an IANA-approved designation of the producer's name that is followed by a media type or product designation (e.g., vnd.bigcompany.funnypictures).

As far as I know, we don't have an "IANA-approved designation" of our name so I'm not sure how to proceed here.

If we're happy not to be registered with IANA, something like `vnd.spring-boot.actuator+json` would work. That may even be acceptable to IANA as they have other registrations [listed](http://www.iana.org/assignments/media-types/media-types.xhtml) where the "IANA-approved designation of the producer's name" is a product rather than a company, for example `google-earth` and `ms-excel`.

Spring Initializr uses `application/vnd.initializr.v2+json` for the record